$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-dt-icon: 'dt-iconfont', sans-serif;
$font-NotoSerif: 'Noto Serif', $font-default, serif;
$font-Merriweather: 'Merriweather', $font-default, serif;
$font-SVNNoeDisplay: 'SVN-NoeDisplay', $font-default, serif;
$font-Inter: 'Inter', $font-default, sans-serif;
$font-Roboto: 'Roboto', $font-default, sans-serif;
$font-SVNPoppins: 'SVN Poppins', $font-default, sans-serif;
$font-Fraunces: 'Fraunces', $font-default, serif;
$font-iCielBCCubano: 'iCielBCCubano', $font-default, sans-serif;
$font-SFUIDisplay: 'SF UI Display', $font-default, sans-serif;
$font-Georgia: 'Georgia', $font-default, sans-serif;
$font-Harmony: 'Harmony', $font-default, sans-serif;
$font-House: 'House', $font-default, sans-serif;
$font-IBMPlexSerif: 'IBM Plex Serif', $font-default, sans-serif;
$font-SFUIText: 'SF UI Text', $font-default, sans-serif;
$font-Montserrat: 'Montserrat', $font-default, sans-serif;