@font-face {
  font-family: 'Harmony';
  src: url('assets/fonts/Harmony/Harmony-Regular.eot');
  src: url('assets/fonts/Harmony/Harmony-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Harmony/Harmony-Regular.woff2') format('woff2'),
  url('assets/fonts/Harmony/Harmony-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}