@font-face {
  font-family: 'IBM Plex Serif';
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Regular.eot');
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Regular.woff2') format('woff2'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Italic.eot');
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Italic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Italic.woff2') format('woff2'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Medium.eot');
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Medium.woff2') format('woff2'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.eot');
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.eot');
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.woff2') format('woff2'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.eot');
  src: url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.woff2') format('woff2'),
  url('assets/fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}