@font-face {
  font-family: 'SVN-NoeDisplay';
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Regular.eot');
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Regular.woff2') format('woff2'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-NoeDisplay';
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Italic.eot');
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Italic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Italic.woff2') format('woff2'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-NoeDisplay';
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Medium.eot');
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Medium.woff2') format('woff2'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-NoeDisplay';
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-MediumItalic.eot');
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-NoeDisplay';
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Bold.eot');
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Bold.woff2') format('woff2'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-NoeDisplay';
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-BoldItalic.eot');
  src: url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/SVNNoeDisplay/SVN-NoeDisplay-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}