@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/shared/variable';

body {
    background: #FFF none;
    max-height: fit-content;
}

.main {
    &-container {
        background: url("../assets/images/travel-background.jpg");
        background-repeat: no-repeat;
    }
}